{% extends 'main/layout.html' %}
{% load crispy_forms_tags %}
{% block title %}
Post Create
{% endblock %}

{% block content %}
<div class="add_post" style="padding: 15px; margin: 75px auto 0 auto; width: 700; border-radius: 5px; background-color: #d1deef">
    <div class="div1" style="padding: 15px">
        <h1>Create New Post</h1>
    </div>
    <div class = "alert ">
        <form method="POST" action="" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
        </form>
        <input type="submit" class="btn btn-success" value="Create Post">
    </div>
</div>

{% endblock%}