{% extends 'main/layout.html' %}

{% block title %}
{{user.username}}'s Blog
{% endblock %}

{% block content %}
<div style="margin: 60px 20% auto 20%; background-color: #d1deef" class = "alert ">
                    <h2 style="">{{post.title}}</h2>
                    <p>{{post.full_text}}</p>
                    <h4 style="float: right">{{post.date}}</h4>
                    <a href="{%url 'post_delete' post.author post.id %}" class = "btn btn-danger">Delete</a>
                </div>
{% endblock%}