{% extends 'main/layout.html' %}
{% load static %}
{% block title %}
Main Page
{% endblock %}
{% block css%}
<link rel="stylesheet" href="{% static 'main/css/main_page.css'%}">
{% endblock %}
{% block content %}
<div class="features">
    <h1 class="h11">New Posts</h1>
        {% if posts %}
            {% for el in posts%}
                {%if el.author != user.username%}
              <div class = "alert alert-warning bloki">
                <h1>{{el.title}}</h1>
                    {% if el.full_text|length > 500 %}
                        {{el.full_text|slice:"500"}}...
                    {% else %}
                        {{el.full_text}}
                    {% endif %}
                  <br>
                  <br>
                    <a href="{% url 'post_detail' el.author el.id%}" class = "btn btn-warning">Details</a>
                    <p style = "width: 200px;margin: 0 0 0 350px; text-align: center;">{{el.date}}</p>
                </div>
                {%endif%}
            {% endfor %}
        {% else %}
            <h2>No Post here!</h2>
        {% endif %}

    </div>
{% endblock %}