{% extends 'main/layout.html' %}
{% load static %}
{% block css %}<link rel="stylesheet" href="{% static 'main/css/main.css'%}">{% endblock %}
{% block title %}
Password Reset
{% endblock %}

{% block content %}
<center style = "margin: 100px auto 0 auto; border: 2px solid black; border-radius: 50px; background-color: rgb(206, 218, 238); width: 400px; padding: 50px 0 50px 0">

        <h1 style = "padding-bottom: 30px;">Password Reset</h1>
        <form method="post">
            {% csrf_token %}
            <div class="form-error">{{ form.non_field_errors }}</div>

            {% for f in form %}
            <p><label class = "form-label" for="{{ f.id_for_label}}">{{f.label}}:</label>{{f}}</p>
            <div class="form-error">{{f.errors}}</div>
            {%endfor%}
            <button class = "btn btn-success"> Enter </button>
        </form>


</center>
{% endblock %}