{% extends 'main/layout.html' %}
{% block title %}
{{user.username}}'s Profile
{% endblock %}
{% block content %}
<div class="content-section">
    <h1>Posts of {{name}}</h1>
    {% for post in posts %}
        {% if post.author == name%}

          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{% url 'profile_of' post.author %}">{{ post.author }}</a>
                <small class="text-muted" title = "{{post.date}}">· {{ post.date|date:"F"|slice:"3" }} {{ post.date|date:"d" }}</small>
            </div>
            <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
            <p class="article-content"> {% if post.full_text|length > 500 %}
                        {{post.full_text|slice:"500"}}...
                    {% else %}
                        {{post.full_text}}
                    {% endif %}</p>
          </div>

        {% endif %}
    {% endfor %}

</div>
{% endblock content %}