{% extends 'main/layout.html' %}
{% load crispy_forms_tags %}
{% block title %}
Registration Page
{% endblock %}

{% block content %}

<center style = "margin: 100px auto 75px auto; border: 2px solid black; border-radius: 50px; background-color: rgb(206, 218, 238); width: 650px; padding: 25px 0 25px 0">
    <h1>Registration Form</h1>

    <form method="post" style = "width: 450px; text-align: left">
        {% csrf_token %}
        {{form|crispy}}
        <button class = "btn btn-success" style = "width: 190px"> Confirm Registration </button>
    </form>
</center>
{% endblock %}