{% extends 'main/layout.html' %}

{% block title %}
Search Page
{% endblock %}

{% block content %}
<center>
    {% if searched%}
    <div class="content-section" style="width: 50%; margin-bottom: 0">
        <h1 style="margin-top: 10px">You searched for "{{searched}}" :</h1>
            {% if results %}
                {% for el in results%}
                    <a href="{% url 'post_detail' el.author el.id%}"><h3 style="margin-top: 15px">{{el}}</h3></a>
                {%endfor%}
            {% else %}
                <h1>No result</h1>
            {% endif%}
    {% else %}
            <h1 style = "font-size: 70px; margin-top: 250px">Nothing to search</h1>
        </div>
{% endif %}
</center>

{% endblock %}