body {
    background-image: url('backg.jpg');
  }
.top-nav{
    background: peachpuff;
    display: flex;
    align-content: space-between;
}
.tabs{
    padding-top: 8px;
}
.tabs ul{
    display: flex;
    align-items: center;
    margin-left: 650px;
}
.logo h1{
    font-family: 'Fredoka', sans-serif;
    color: cornflowerblue;
    margin-left: 25px;
}

a{
    text-decoration: none;
}
li{
    padding: 0 10px;
    list-style-type: none;
}
.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}
.content-section {
    margin: 75px auto 0 auto;
    width: 500px;
    height: 400px;
  background: #ffff;
  padding: 10px 20px;
  border: 3px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}
.media{
    display: flex;
}
.media-body{
    margin-top: 20px;
}
.account-heading {
  font-size: 2.5rem;
}